# Build files
build
CMakeFiles
CMakeCache.txt

# Compiled object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executable files
bin
*.out
*.exe
*.app

# Compiler flags for clangd
compile_commands.json
.cache

# External libraries
external
vgcore*

# Text editor specific files
.vscode
Session.vim
